/* 
    Document   : styles
    Created on : Mar 11, 2011, 12:12:03 PM
    Author     : ashish
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.banner {
    background: #ddd;
    border: thin solid darkgray;
    width: 95%;
    padding: 10px;
}
.bannerText {
    font-size: 1.5em;
}
.dateDiv {
    font-size: 1.5em;
    font-style: italic;
    padding-top: 10px;
}
.button {
    margin-top: 10px;
}